<style>
.radar-container {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px;
    grid-template-rows: 32px 32px;
}
</style>

<div class="radar-container">
    <div>Adopt</div>
    <div>Trial</div>
    <div>Assess</div>
    <div>Hold</div>
    <div>No-Go</div>
    <div style="background-color: black;"></div>
    <div style="background-color: #0000007f;"></div>
    <div style="background-color: #0000005f;"></div>
    <div style="background-color: #0000003f;"></div>
    <div style="background-color: #0000001f;"></div>
</div>